CrosshairUI {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(textures/voxelworld/ui/crosshair.png);
    background-repeat: no-repeat;
    background-size: 100%;
    image-rendering: pixelated;
    width: 5vh;
    height: 5vh;

    &.enabled {
        opacity: 1;
    }
}
