FakeLoadingScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-position: center;
    background-size: auto 100%;
    font-family: Poppins;

    .title-holder {
        width: 100vw;
        height: 100vh;
        position: relative;
        font-size: 10%;
        padding-bottom: 30px;
        justify-content: center;
        top: 30%;
    }

    .title {
        position: relative;
        font-size: 10%;
        text-align: center;
        color: #206a83;
        text-stroke: 2px #9dd9ee;
        padding-bottom: 30px;
    }

    .bar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #444;
        border: 2px solid #ccc;
        width: 60%;
        aspect-ratio: 20;

        .fill {
            background-color: #888;
            left: 0;
            top: 0;
            height: 100%;
        }
    }
}
