@using Sandbox
@using Sandbox.UI
@using Sandcube.Players
@using System.Linq

@namespace Sandcube.UI.Menus
@attribute [StyleSheet]
@inherits PanelComponent
@implements IMenu

<root>
	<div class="buttons">
		<div id="leave-game-button" class="button" onclick="@(LeaveGame)">Leave to main menu</div>
	</div>
</root>


@code
{
	public bool IsOpened
	{
		get => this.Panel.Class.Contains("opened");
		set => this.Panel.SetClass("opened", value);
	}

	public virtual void Open()
	{
		IsOpened = true;
	}

	public virtual void Close()
	{
		IsOpened = false;
	}

	public virtual bool StillValid(SandcubePlayer player) => true;

	protected void LeaveGame()
	{
		GameManager.ActiveScene.LoadFromFile("scenes/mainmenu.scene");
	}
}