{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "world": "Unset",
    "entity": "Unset",
    "no_entity_collide": "Unset",
    "interactable": "Ignore"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "trigger",
      "r": "Collide"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "world"
    },
    {
      "a": "trigger",
      "b": "world"
    },
    {
      "a": "world",
      "b": "world"
    },
    {
      "a": "solid",
      "b": "entity"
    },
    {
      "a": "trigger",
      "b": "entity",
      "r": "Trigger"
    },
    {
      "a": "world",
      "b": "entity",
      "r": "Collide"
    },
    {
      "a": "entity",
      "b": "entity",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "trigger",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "no_entity_collide"
    },
    {
      "a": "entity",
      "b": "no_entity_collide",
      "r": "Trigger"
    },
    {
      "a": "world",
      "b": "no_entity_collide",
      "r": "Collide"
    },
    {
      "a": "interactable",
      "b": "interactable",
      "r": "Ignore"
    },
    {
      "a": "no_entity_collide",
      "b": "interactable",
      "r": "Ignore"
    },
    {
      "a": "entity",
      "b": "interactable",
      "r": "Ignore"
    },
    {
      "a": "world",
      "b": "interactable",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "interactable",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "interactable",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "no_entity_collide",
      "r": "Trigger"
    }
  ],
  "__guid": "00000000-0000-0000-0000-000000000000",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}