@using Sandbox
@using Sandbox.UI
@using Sandcube.Menus
@using Sandcube.Players
@using System.Threading.Tasks
@using System.Linq

@namespace Sandcube.UI.Screens
@attribute [StyleSheet]
@inherits PanelComponent

<root>
	<div class="buttons">
		<div id="leave-game-button" class="button" onclick="@(() => _ = SaveAndLeaveGame())">Save and Leave</div>
	</div>
</root>


@code
{
	protected bool Saving = false;

	protected async Task SaveAndLeaveGame()
	{
		if (Saving)
			return;

		Saving = true;
		if(SandcubeGame.InitalizationStatus == InitalizationStatus.Initialized &&
			SandcubeGame.LoadingStatus == LoadingStatus.Loaded)
		{
			var saved = await SandcubeGame.Instance!.SaveGame();
			if (!saved)
				Log.Warning("Couldn't save something");
		}

		Game.ActiveScene.LoadFromFile("scenes/mainmenu.scene");
		Saving = false;
	}
}