@using Sandbox
@using Sandbox.UI
@using VoxelWorld.Menus
@using VoxelWorld.Players
@using System.Threading.Tasks
@using System.Linq

@namespace VoxelWorld.UI.Screens
@attribute [StyleSheet]
@inherits PanelComponent

<root>
	<div class="buttons">
		<div class="button" onclick="@(Back)">Back</div>
		<div class="button disabled">Mods</div>
		<div class="button disabled">Settings</div>
		<div id="save-game-button" class="button" onclick="@(() => _ = Save())">Save</div>
		<div id="leave-game-button" class="button" onclick="@(() => _ = SaveAndLeaveGame())">Save and Leave</div>
	</div>
</root>


@code
{
	protected bool Saving = false;

	protected void Back()
	{
		MenuController.Instance.CloseMenu();
	}

	protected async Task Save()
	{
		if(Saving)
			return;

		Saving = true;
		if(GameController.InitalizationStatus == InitalizationStatus.Initialized &&
			GameController.LoadingStatus == LoadingStatus.Loaded)
		{
			var saved = await GameController.Instance!.SaveGame();
			if(!saved)
				Log.Warning("Couldn't save something");
		}

		Saving = false;
	}

	protected async Task SaveAndLeaveGame()
	{
		if (Saving)
			return;

		await Save();

		Game.ActiveScene.LoadFromFile("scenes/mainmenu.scene");
	}
}