@using Sandbox
@using Sandbox.UI
@using Sandcube.Menus
@using Sandcube.Players
@using System.Linq

@namespace Sandcube.UI.Screens
@attribute [StyleSheet]
@inherits PanelComponent

<root>
	<div class="buttons">
		<div id="leave-game-button" class="button" onclick="@(LeaveGame)">Leave to main menu</div>
	</div>
</root>


@code
{
	protected void LeaveGame()
	{
		GameManager.ActiveScene.LoadFromFile("scenes/mainmenu.scene");
	}
}