@using Sandbox
@using Sandbox.UI
@using VoxelWorld.Interactions
@using VoxelWorld.Inventories
@using VoxelWorld.Items
@using VoxelWorld.Menus
@using VoxelWorld.Players
@using VoxelWorld.UI.Extensions
@using VoxelWorld.UI.Inventories
@using VoxelWorld.UI.Menus
@using System
@using System.Linq

@namespace VoxelWorld.UI.Screens
@attribute [StyleSheet]
@inherits PanelComponent
@implements ISlotMouseEventListener

<root onmousedown=@(e => OnMouseDown(e as MousePanelEvent))>
    @if(Menu is not null)
    {
        <div class="capabilities">
            @for(int i = 0; i < Menu.CapabilitiesCount; ++i)
            {
                var capability = Menu.GetCapability(i);
                <ItemCapabilityUI class="capability" Capability=@capability Width=@Width MouseEventListener=@this/>
            }
        </div>
    }
    <ItemStackUI class="stack taken @(TakenStack.IsEmpty ? "hidden" : string.Empty)" Stack=@TakenStack @ref=TakenStackUI/>
</root>

@code
{
    public ItemCapabilitiesMenu Menu { get; set; }
    public int Width { get; set; } = 9;

    protected bool JustMousedDownSlot { get; set; } = false;

    protected ItemStackUI TakenStackUI { get; set; }
    protected Stack<Item> TakenStack => Menu.TakenStack;

    protected readonly System.Collections.Generic.HashSet<MouseButtons> WaitingMouseUps = new();

    protected virtual void MoveTakenStack()
    {
        if (!TakenStackUI.IsValid())
            return;
        var positionByPersent = Mouse.Position / Screen.Size * 100;
        TakenStackUI.Style.Left = Length.Percent(positionByPersent.x);
        TakenStackUI.Style.Top = Length.Percent(positionByPersent.y);
    }

    protected override void OnUpdate()
    {
        MoveTakenStack();
    }

    protected virtual void DropTakenStack(int maxCount) => Menu.DropTakenStack(maxCount);

    protected virtual void ReturnTakenStack() => Menu.ReturnTakenStack();

    public virtual void OnMouseDown(MousePanelEvent mousePanelEvent)
    {
        if(JustMousedDownSlot)
        {
            JustMousedDownSlot = false;
            return;
        }
        JustMousedDownSlot = false;

        var mouseButton = mousePanelEvent.GetMouseButton();
        if(mouseButton == MouseButtons.None)
            return;

        int countToDrop = 0;
        if(mouseButton == MouseButtons.Left)
            countToDrop = TakenStack.Count;
        else if(mouseButton == MouseButtons.Right)
            countToDrop = 1;

        DropTakenStack(countToDrop);
    }

    public virtual void OnMouseDownOnSlot(IReadOnlyIndexedCapability<Stack<Item>> capability, int slotIndex, MouseButtons mouseButton)
    {
        JustMousedDownSlot = true;
        var clickedStack = capability.Get(slotIndex);

        if(!Menu.TakenStack.IsEmpty)
        {
            int countToInsert = GetCountToInsert(mouseButton);
            if (Menu.PlaceStack(capability, slotIndex, countToInsert))
            {
                WaitingMouseUps.Add(mouseButton);
                return;
            }
        }

        int countToExtract = GetCountToExtract(mouseButton, clickedStack);
        if(Menu.TakeStack(capability, slotIndex, countToExtract))
            WaitingMouseUps.Add(mouseButton);
    }

    public virtual void OnMouseUpOnSlot(IReadOnlyIndexedCapability<Stack<Item>> capability, int slotIndex, MouseButtons mouseButton)
    {
        if(WaitingMouseUps.Remove(mouseButton))
            return;

        int countToInsert = GetCountToInsert(mouseButton);
        Menu.PlaceStack(capability, slotIndex, countToInsert);
    }

    protected int GetCountToInsert(MouseButtons mouseButton)
    {
        if(mouseButton == MouseButtons.Left)
            return TakenStack.Count;
        else if(mouseButton == MouseButtons.Right)
            return  1;
        return 0;
    }

    protected int GetCountToExtract(MouseButtons mouseButton, Stack<Item> clickedStack)
    {
        if(mouseButton == MouseButtons.Left)
            return clickedStack.Count;
        else if(mouseButton == MouseButtons.Right)
            return clickedStack.Count / 2 + clickedStack.Count % 2;
        return 0;
    }

    protected override int BuildHash() => HashCode.Combine(Menu, Width);
}
