GameSelectionMenu {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    pointer-events: all;
    background-position: center;
    background-size: auto 100%;
    align-items: center;
    justify-content: center;

    .fill-parent {
        width: 100%;
        height: 100%;
    }

    .centered-content {
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .title {
        position: relative;
        color: #206a83;
        text-stroke: 2px #9dd9ee;
        font-size: 10%;
        overflow: hidden;
        padding-bottom: 30px;
    }

    .buttons-container {
        position: relative;
        height: 50%;
        width: 700px;
        overflow: scroll;
        background-color: #444;

        .buttons {
            position: absolute;
            width: 100%;
            flex-grow: 1;
            gap: 5%;

            .no-games-info {
                font-size: 50%;
                text-align: center;
                min-height: 70px;
                width: 100%;
                flex-grow: 1;
            }

            .create-game {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .label {
                    width: 100%;
                    font-size: 30px;
                    text-align: center;
                }
            }

            .button {
                width: 100%;
                aspect-ratio: 5;
                min-height: 100px;

                .game-icon-container {
                    height: 100%;
                    aspect-ratio: 1;

                    .game-icon {
                        left: 5%;
                        top: 5%;
                        height: 90%;
                        width: 90%;
                        background-color: antiquewhite;
                    }
                }

                .game-info {
                    margin-left: 1%;
                    flex-direction: column;

                    .game-name {
                        overflow: hidden;
                        font-size: 35%;
                        text-align: left;
                    }

                    .game-path {
                        font-size: 20%;
                        text-align: left;
                    }

                    .game-seed {
                        font-size: 20%;
                        text-align: left;
                    }
                }
            }
        }
    }

    .bottom-buttons {
        position: relative;
        width: 100%;
        height: 10%;
        margin-top: 30px;

        .create-game {
            position: relative;
            height: 100%;
            aspect-ratio: 4;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .label {
                width: 100%;
                font-size: 35%;
                text-align: center;
            }
        }
    }

    .button {
        background-color: #444;
        border: 1px solid #777;

        .label {
            position: relative;
            text-align: center;
            width: 100%;
            color: #aaa;
        }

        &:hover {
            background-color: #555;
        }

        &:active {
            background-color: #888;
        }
    }
}
