@using Sandbox;
@using Sandbox.UI;

@namespace Sandcube.UI.Menus.MainMenus

@inherits PanelComponent


<root>
	<div class="centered-content flex-column fill-parent">
		<AdaptiveLabel class="title centered-content">Title</AdaptiveLabel>
		<div class="buttons centered-content flex-column">
			<div id="button singleplayer" class="button" onclick="@(OpenGameSelectingMenu)">
				<AdaptiveLabel>Singleplayer</AdaptiveLabel>
			</div>
		</div>
	</div>
</root>


@code
{
	[Property] protected MainMenuController MainMenuController { get; set; } = null!;
	[Property] protected GameSelectionMenu GameSelectionMenu { get; set; } = null!;

	protected void OpenGameSelectingMenu()
	{
		MainMenuController.OpenMenu(GameSelectionMenu);
	}
}