PlayerInventoryUI {
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px);
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.opened {
        opacity: 1;
        pointer-events: all;
    }

    .capabilities {
        position: absolute;
        left: 15%;
        width: 70%;
        display: flex;
        flex-direction: column;

        .secondary-hand {
            bottom: 1%;
        }

        .hotbar {
            top: 1%;
        }
    }

    .stack {
        width: 90%;

        &.taken {
            position: absolute;
            width: 7%; // calculated (capabilities.width(%) / hotbar.size * stack.width(%))
        }

        &.hidden {
            opacity: 0;
        }
    }
}
